/* font */
@font-face {
  font-family: "Montserrat_Bold";
  src: url("font/perpetua/Montserrat-Bold.otf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("font/perpetua/Montserrat-Regular.otf") format("truetype");
}

* {
  margin: 0em;
  padding: 0em;
}

/* vertical center */
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* background image */
body {
  background-image: url(image/img-background.jpg);
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* card for loading */
.cardLoading {
  height: 100vh;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.1);
  animation-name: card;
  animation-duration: 2s;
  animation-delay: 2s;
}

/* animation for card loading */
@keyframes card {
  0% {
    margin-left: 0vw;
  }
  100% {
    margin-left: -200vw;
  }
}

/* full box loading */
.boxLoading {
  width: 10px;
  height: 30px;
  background-color: black;
  margin-right: 7px;
  border-radius: 3px;
}

/* box loading right and left  */
#boxRightLoading {
  animation-name: animRightLoading;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

/* anim for box loadnig right and left */
@keyframes animRightLoading {
  0% {
    height: 50px;
  }
  15% {
    height: 30px;
  }
  25% {
    height: 50px;
  }
  50% {
    height: 30px;
  }
  75% {
    height: 50px;
  }
  100% {
    height: 30px;
  }
}

/* box center for loading */
#boxCenterLoading {
  animation-name: animCenterLoading;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

/* anim for center box loading */
@keyframes animCenterLoading {
  0% {
    height: 80px;
  }
  15% {
    height: 30px;
  }
  25% {
    height: 80px;
  }
  50% {
    height: 30px;
  }
  75% {
    height: 80px;
  }
  100% {
    height: 30px;
  }
}

/* nav */
#textLogo {
  font-family: "Montserrat_Bold";
  font-size: 1.2vw;
  margin-left: 3%;
}
.textNav {
  margin-right: 4%;
  font-family: "Montserrat-Light";
  font-size: 0.8vw;
  font-weight: bold;
}
.textNav:hover {
  border-bottom: 1px solid #fe8369;
  font-weight: 500;
}
.buttonPhone {
  background-color: #fe8369;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  height: 100%;
  width: 80%;
}

/* text center box */
.textCenter {
  color: white;
  font-family: "Montserrat-Light";
  text-shadow: 0 5px 20px rgba(80, 48, 32, 0.42);
}

/* search */
.inputSearch {
  background-color: transparent;
  border-color: transparent;
  width: 100%;
  margin: 10px;
  font-size: 1.5vw;
  font-family: "Montserrat-Light";
  outline: none;
}
.inputSearch::placeholder {
  color: rgb(195, 195, 195);
}
